main {
  position: relative;
  width : 100%;
  padding : 2.5em 1em;
}

main > section {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

main > section:hover::after {
  opacity: 0.2;
}

main > section::after {
  position: absolute;
  content: "";
  inset: 0;
  background-color: black;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.6s ease;
}
main > section > img {
  width : 100%;
}
/*  */
main section section {
  visibility: hidden;
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 1em;
  position: absolute;
  left: 0;
  bottom: 0;
  width : 100%;
  z-index: 1;
  transform: translateY(56px) ;
  /* i say here make it hidden after 0.3 second so i can see the move */
  transition: transform 0.6s ease, visibility 0s linear 0.6s;
}
main section section > * {
  z-index: 1;
}
main section section::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top,rgba(0, 0, 0, 0.6),rgba(255, 255, 255, 0));
  inset: 0;
  z-index: 0;
}
main section:hover section {
  visibility: visible;
  transform: translateY(0px);
  /* i say here make it shown imediatly so i can see the move */
  transition: transform 0.6s ease, visibility 0s linear 0s;
}
main section section img{
  width : 24px;
  aspect-ratio: 1/1;
  border-radius: 24px;
  object-fit: cover;
}
main section section p{
  color : #FFFFFF;
  font-size: 0.75rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(min-width : 768px) {
  main {
    padding : 2.5em 2em;
  }
}

@media(min-width : 1440px) {
  main {
    max-width: 1280px;
    margin: auto;
  }
}